fastapi==0.116.1
uvicorn==0.35.0
httpx==0.28.1
pydantic==2.11.7
pydantic_core==2.33.2
pandas==2.3.2
pyarrow
spacy==3.8.7
csv
emoji==2.14.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
numpy==2.3.2
scikit-learn== 1.7.2
ollama==0.5.3